
body {
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding:0
}

h1 {
    color: #000000;
}
h2{
    color:#0056b3;
}

h3 {
    color:rgb(4, 78, 78);
}
a {
    color:#0056b3;
    text-decoration: none;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
}

p {
    color: #000000;
}

.container {
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button{
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #99c8fd;
}

.delete-link {
    margin: 10px auto;
    color: red;
    font-weight: bold;
}

.delete-link:hover{
    margin: 10px auto;
    color: red;
    font-weight: bold;
    border: red solid 2px;
}

input, select {
    width: 30%;
    padding: 5px;
    margin-bottom: 5px;
}