{% extends "partiturasApp/base.html" %}

{% block title %}Añadir Partitura Nueva{% endblock title %}

{% block content %} {# Este es el block que se usa para rellenar la template #}
    <h2>Añadir nueva partitura</h2>
    
    <form method='POST'>  {# Se crea un form para guardar el modelo forms creado previamente, se le asigna el method POST no se aun porque #}
        {% csrf_token %}    {# Este  es mega importante porque es la seguridad de Django #}
        {{ form.as_p }} {# se utiliza la variable {form}, no se para que es el .as_p pero le da mejor vista  #}
        <button type='submit'>Guardar Partitura</button>    {# El typo submit no se que es pero tira un post #}
    </form>
{% endblock content %}