{% extends "partiturasApp/base.html" %}

{% block title %}{{ compositor.nombre }} {{ compositor.apellido }}{% endblock title %}

{% block content %}
    <h2>Detalles del compositor {{ compositor.apellido }}</h2>
    <hr>
    <p><strong>Fecha de nacimiento</strong></p>
    <p>{{ compositor.fecha_de_nacimiento }}</p>
    
    <p><strong>Pais de Origen</strong></p>
    <p>{{ compositor.pais }}</p>
    
    <hr>
    <h3>Partituras Creadas.</h3>
    <ul>
        {% for p in compositor.partituras.all %}
            <li><a href='{% url "detalle_partitura" p.pk %}'>{{ p.titulo }}</a></li>
        {%empty%}
            <li>No existen partituras creadas por este compositor</li>
        {% endfor %}
    </ul>
    <p>
        <a href='{% url "crear_partitura" %}?compositor_id={{compositor.id}}'>
            Agregar partituras al Compositor
        </a>    {# No es bien visto usar dentro de un a un button. #}
    </p>

{% endblock content %}