<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Generos Musicales</title>
    </head>
    <body>
        <h1>Lista de Generos Musicales</h1>
            {% for gen in generos %}
                {% if gen.descripcion %}
                    <h3>{{ gen.nombre }} </h3> 
                    <p> {{ gen.descripcion }} </p>
                {%else%}
                    <h3>{{ gen.nombre }}</h3>
                {%endif%}
            {%empty%}
                <p>No hay generos en la base de datos</p>
            {% endfor %}
    </body>
</html>